// :root {
//   --global-palette1: #e72166;
//   --global-palette2: #2a38a1;
//   --global-palette3: #0c1136;
//   --global-palette4: #0c1136;
//   --global-palette5: #0c1136;
//   --global-palette6: #7081ff;
//   --global-palette7: #c9c7c7;
//   --global-palette8: #e9e7e7;
//   --global-palette9: #ffffff;
//   --global-palette9rgb: 255, 255, 255;
// }

.Vx_SampleHolder {
  * {
    cursor: not-allowed !important;
  }
}

.Vx_CSS_Gen_Containter {
  position: relative;
  padding: 32px;

  .MainClassInput {
    border: 1px solid var(--global-palette3);
    outline: none;
    padding: 8px;
    box-shadow: 4px 4px 0 var(--global-palette3);
    width: 62%;
    border-radius: 0;

    position: absolute;
    top: 0;
    // left: 0;
    transform: translateY(-50%);
    z-index: 100;
  }

  .Vx_CSS_Gen_Controls {
    display: flex;
    align-items: stretch;
    justify-content: start;
    flex-direction: column;

    gap: 8px;

    .RadialInput {
      text-wrap: nowrap;
      gap: 4px;

      span {
        font-size: 0.8rem;
        font-weight: 300;
        gap: 2px;
      }

      input[type="radio"] {
        width: 16px;
        height: 16px;
      }

      input:is(:first-child) {
        margin-left: 16px;
      }
    }
  }
  fieldset {
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin: 0 !important;
    padding: 16px;
    gap: 8px;

    position: relative;

    background: var(--global-palette8);

    legend {
      float: inline-start;
      width: 100%;
      position: relative;
      align-items: end;
      justify-content: space-between;

      display: flex;

      font-size: 0.8rem;
      font-weight: 300;
      max-height: 1rem;
    }

    label {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      width: fit-content;
      gap: 8px;
      width: 100%;
      input {
        flex: auto;
        justify-content: start;
        align-items: start;
      }
    }
  }

  .Fieldset_Unit_Changable {
    z-index: 2;
    * {
      transition: all 0.66s cubic-bezier(0.25, 0, 0, 1);
    }
    .UnitChangeButton {
      width: auto;

      pointer-events: all;

      cursor: pointer;
      flex-direction: row;

      display: flex;
      align-items: end;
      justify-content: end;
      height: fit-content;

      gap: 4px;
      padding: 4px;

      svg {
        overflow: visible;
        width: 1rem;
        height: 1rem;
        pointer-events: none;
      }

      li {
        width: fit-content;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        background: var(--global-palette8);
        // padding: 8px;
        border: 2px solid #0c1136;

        list-style: none;

        position: absolute;
        height: fit-content;
        overflow: hidden;

        right: -0.5rem;
        top: 0;

        font-size: 1rem;
        line-height: 1.2rem;

        transform: translateX(100%);
        opacity: 0;

        ul {
          list-style: none;
          width: 100%;
          text-align: center;
          padding: 0px 16px;
          line-height: 0.1px;

          &:hover {
            color: var(--global-palette9);
            background: var(--global-palette1);
          }
        }

        pointer-events: none;
      }

      &.UnitChanging {
        background: var(--global-palette7);

        li {
          pointer-events: all;
          ul {
            padding: 6px 24px;
            line-height: 1.2rem;
          }
          opacity: 1;
        }

        // svg {
        //   transform: rotate(180deg);
        //   path {
        //     fill: var(--global-palette9);
        //   }
        // }
      }
    }
  }

  .Vx_CSS_Gen_Code {
    padding-top: 16px;
    padding-bottom: 16px;

    max-height: 24vh;
    overflow-y: scroll;
  }
}

.RangeInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  gap: 8px;

  input[type="range"] {
    flex: auto;
  }

  .UnitChangeButton {
    width: auto;
    min-width: 40px;
    pointer-events: all;
    cursor: pointer;
    flex-direction: row;
    display: flex;
    align-items: end;
    justify-content: end;
    height: fit-content;
    gap: 4px;
    padding: 4px;
    svg {
      overflow: visible;
      width: 1rem;
      height: 1rem;
      pointer-events: none;
    }
    li {
      width: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      background: var(--global-palette8);
      border: 2px solid #0c1136;
      list-style: none;
      position: absolute;
      height: fit-content;
      overflow: hidden;
      right: -0.5rem;
      top: 0;
      font-size: 1rem;
      line-height: 1.2rem;
      transform: translateX(100%);
      opacity: 0;
      ul {
        list-style: none;
        width: 100%;
        text-align: center;
        padding: 0px 16px;
        line-height: 0.1px;
        &:hover {
          color: var(--global-palette9);
          background: var(--global-palette1);
        }
      }
      pointer-events: none;
    }
    &.UnitChanging {
      background: var(--global-palette7);
      li {
        pointer-events: all;
        ul {
          padding: 6px 24px;
          line-height: 1.2rem;
        }
        opacity: 1;
      }
    }
  }
}
