.Vx_LightBoxHolder {
  .ladi-gallery-bottom-item,
  .ladi-frame-background,
  .ladi-box,
  .ladi-image .ladi-image-background {
    cursor: zoom-in !important;
    pointer-events: all;
  }
}
.Vx_HoverGarelly {
  .ladi-gallery-view-item {
    transition: all 1.33s cubic-bezier(0.25, 0, 0, 1) !important;
  }
  .ladi-gallery-view-item:hover {
    transform: scale(1.13) !important;
  }
}
.Vx_HoverGarelly {
  .ladi-gallery-bottom::after,
  .ladi-gallery-view::after {
    transition: all 1.33s cubic-bezier(0.25, 0, 0, 1) !important;
    opacity: 0;
    display: block;
    pointer-events: none;
    content: "";
  }
}

.Vx_LightBoxHolder {
  .ladi-gallery-view::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000056;
  }
}

.Vx_LightBoxHolder {
  .ladi-gallery-bottom::after {
    background-image: url("https://package.vanced.media/Assets/Vx_ZoomInIconsvg.svg");
    background-size: cover;
    width: 512px;
    height: 512px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: scale(1.23);
  }
}

.Vx_TabsTransition {
  .ladi-tabs {
    .ladi-element {
      display: block !important;
      transition: all 1.33s cubic-bezier(0.25, 0, 0, 1);
    }
  }
}

.Vx_TabsTransitionFade {
  .ladi-tabs > .ladi-element {
    opacity: 0 !important;
  }
  .ladi-tabs > .selected {
    opacity: 1 !important;
  }
}

// Breakpoint cho Kích thước Icon Zoon-in

@media screen and (max-width: 960px) {
  .Vx_LightBoxHolder {
    .ladi-gallery-bottom::after {
      width: 256px;
      height: 256px;
    }
  }
}

.Vx_HoverGarelly:hover {
  .ladi-gallery-bottom::after,
  .ladi-gallery-view::after {
    opacity: 1 !important;
    transform: scale(1);
  }
}
